@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --main-color: #fcc107;
    --box-color: #eff;
    --background-color: #f0f0f0;
    --border-color: #ccc;
    --text-color: #515151;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

/* retirar espaçamento: */
* {
    margin: 0rem;
    padding: 0rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    max-width: 100%;
    background-color: var(--main-color);
}

header h1 {
    font-size: 1.8rem;
    color: var(--box-color);
}

.consulta {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--box-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 .4rem .5rem rgba(0, 0, 0, 0.1); /* sombra */
}

.consulta .caixa-consulta {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
}

.consulta .caixa-consulta label {
    color: var(--text-color);
}

.consulta .caixa-consulta .cep {
    height: 2rem;
    border: 1px solid var(--border-color);
    border-radius: .4rem;
    padding: .4rem .9rem;
    font-size: 1rem; 
    background-color: var(--background-color);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.consulta .caixa-consulta .cep:focus {
    border-color: #007bff; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
    background-color: var(--box-color); /* Cor de fundo ao focar */
}

.consulta .pesquisar {
    background-color: var(--main-color);
    color: var(--box-color);
    border: none;
    padding: .5rem 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.historico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.historico .historico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
}

.historico .historico-h2 {
    font-size: 1.2rem;
    margin-top: .4rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.historico .historico-lista {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    width: 100%;
}

.historico .historico-lista .endereco {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--box-color);
    border-radius: 1rem;
    box-shadow: 0 .4rem .5rem rgba(0, 0, 0, 0.1); /* sombra */ 
    gap: 1rem;
    padding: .7rem;
}

.historico .historico-lista .endereco h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--box-color);
    border: 1px solid var(--border-color);
    padding: 1.7rem;
    border-radius: .4rem;
}

.historico .historico-lista .endereco .detalhes {
    display: flex;   
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.historico .historico-lista .endereco .detalhes .dados {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.historico .historico-lista .endereco .detalhes .dados .localidade,
.historico .historico-lista .endereco .detalhes .dados .logradoura,
.historico .historico-container .historico-lista .box-footer .cep-buscado {
    color: var(--text-color);
}

.historico .historico-lista .endereco .box-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.historico .historico-container .historico-lista .endereco .remover {
    background-color: var(--border-color);
    color: var(--box-color);
    width: 1.6rem;
    height: 1.6rem;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 .4rem .5rem rgba(0, 0, 0, 0.1); /* sombra */ 
}

/* Medium (md): Tablet */
@media (min-width: 768px) {
    header {
        height: 3.5rem;
    }
    header h1 {
        font-size: 2rem;
    }

    .consulta {
        display: flex;
        width: 80%;
        align-self: center;
        justify-self: center;
        text-align: center;
    }

    .historico-container {
        max-width: 85%;
    }

    .consulta .caixa-consulta label {
        font-size: 1.4rem;
    }

    .consulta .caixa-consulta .cep {
        height: 2.2rem;
        font-size: 1.4rem;
    }

    .consulta .pesquisar {
        padding: .7rem 1rem;
        font-size: 1.4rem;
    }

    .historico .historico-h2 {
        font-size: 1.6rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin: 1.5rem 1rem;
    }

    .historico .historico-lista .endereco h2 {
        padding: 2rem;
        font-size: 2rem;
    }

    .historico .historico-lista .endereco .detalhes .dados .localidade {
        font-size: 1.5rem;
    }

    .historico .historico-lista .endereco .detalhes .dados .logradoura,
    .historico .historico-container .historico-lista .box-footer .cep-buscado {
        font-size: 1.3rem;
    }

    .historico .historico-container .historico-lista .endereco .remover {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.2rem;
    }
}

/* Large (lg): desktops */
@media (min-width: 1025px) {

    .consulta {
        width: 60%;
    }

    .historico-container {
        max-width: 60%;
    }

    .consulta .caixa-consulta label {
        font-size: 1.8rem;
    }

    .consulta .caixa-consulta .cep {
        height: 2.4rem;
        font-size: 1.6rem;
    }

    .consulta .pesquisar {
        padding: .9rem 1rem;
        font-size: 1.6rem;
    }

    .historico .historico-h2 {
        font-size: 1.8rem;
        margin: 1.7rem 1rem;
    }

    .historico .historico-lista .endereco h2 {
        padding: 2.2rem;
        font-size: 2.2rem;
    }

    .historico .historico-lista .endereco .detalhes .dados .localidade {
        font-size: 1.7rem;
    }

    .historico .historico-lista .endereco .detalhes .dados .logradoura,
    .historico .historico-container .historico-lista .box-footer .cep-buscado {
        font-size: 1.5rem;
    }

    .historico .historico-container .historico-lista .endereco .remover {
        width: 2rem;
        height: 2rem;
        font-size: 1.4rem;
    }
}